// fonts

@font-face {
    font-family: "Inter_ExtraBold";
    src: url(../fonts/Inter_28pt-ExtraBold.ttf);
}
@font-face {
    font-family: "Merriweather-light";
    src: url(../fonts/Merriweather-Light.ttf);
}