header {
    .img-banner {
        background: url(../img/bg.jpg) fixed center/cover;
    }
    h1 {
        font-size: 3rem;
        font-family: Inter_ExtraBold, sans-serif;
    }
    p {
        font-family: Merriweather-light, sans-serif;
    }
}