#main {
    width: 85%;
    background: $white1;
    padding-top: 70px;
    margin: 0 auto;

    .section-1 {
        width: 80%;
        margin: 0 auto;
        span {
            font-size: 1.1rem;
            position: relative;
            display: block;

            &::before,&::after {
                content: "";
                position: absolute;
                width: 37%;
                height: 1px;
                background: $grey1;
                top: 50%;
                transform: translateY(-50%);
            }

            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
        }
        h2 {
            @include title;
            font-size: 3rem;
            padding: 40px 0;
        }
        p {
            width: 60%;
            line-height: 35px;
            margin: 0 auto;
            padding-bottom: 40px;
            font-style: italic;
        }
        img {
            width: 85%;
        }
        .btn {
            margin: 50px 0 90px 0;
            font-weight: 900;
        }
    }

    .section-2 {
    width: 100%;
    display: flex;
    padding-top: 60px;
    min-height: 75vh;

    img {
        width: 85%;
    }

    .left-part {
        width: 50%;
        margin: 0 auto;
        border: 1px solid $grey1;
        padding: 70px 20px 0 20px;
        span {
            font-size: 0.9rem;
        }
        h3 {
            @include title;
            padding: 20px;
            line-height: 30px
        }
        p{
            padding: 30px;
            width: 90%;
            line-height: 30px;
            margin: 0 auto;
            font-style: italic;
            text-align: left;
        }
        .btn {
            font-weight: 900;
        }
    }
    .right-part {
        width: 50%;
        margin: 0 auto;
        border-top: 1px solid $grey1;
        padding: 70px 20px 50px 20px;
        span {
            font-size: 0.9rem;
        }
        h3 {
            @include title;
            padding: 20px;
            line-height: 30px;
        }
        p{
            padding: 30px;
            width: 90%;
            line-height: 30px;
            margin: 0 auto;
            font-style: italic;
            text-align: left;
        }
        .btn {
            font-weight: 900;
        }
    }
    }
}