#main {
    width: 85%;
    background: $white1;
    padding-top: 40px;
    margin: 0 auto;

    .section-1 {
        span {
            font-size: 1.1rem;
        }
        h2 {
            @include title;
            font-size: 3rem;
            padding: 40px 0;
        }
        p {
            width: 45%;
            line-height: 40px;
            margin: 0 auto;
            padding-bottom: 40px;
        }
        img {
            width: 85%;
        }
        .btn {
            margin: 50px 0 60px 0;
        }
    }
}